/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
    background: #000000;
}


/* Android */

body {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}

.page {
  background: #f5f8fa;
}

.page-content {
	padding-top: 30px;
}

span.cs-category-label {
    padding: 5px 5px;
    background-color: #00A9E0;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
}

span.cs-category-label.Abandonado {
    right: 0;
    left: auto;
    background: #f39c12;
    z-index: 1;
}

.car-info p {
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  color: #666666;
  height: 86px;
}

.car-info p label {
    color: #999;
    display: inline-block;
    float: none;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0px;
}

.demo-card-header-pic .card-header {
  height: 30vw;
  background-size: cover;
  background-position: center;
}

.demo-card-header-pic a {
  height: 30vw;
  padding: 0;
  border-radius: 0px;
}

#carro .demo-card-header-pic .card-header, #carro .demo-card-header-pic a {
  height: 30vh;
}

.card-footer a.button.link {
    line-height: 50px;
}

/*.preloader {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23ff3b30'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
*/
span.preloader-page {
    position: absolute;
    top: calc(50vh - 16px);
    z-index: 999999;
    left: calc(50vw - 16px);
}

.infinite-scroll-preloader {
  margin-top: 0px;
  margin-bottom: 30px ;
  text-align: center;
}

a.button.link {
    display: inline;
}

a.button.link i.material-icons {
    line-height: 56px;
}

.popup-overlay.modal-overlay-visible {
  visibility: hidden;
  opacity: 0;
}


/* Anúncio */

#carro .card {
  margin: 0;
}

#carro .car-info p {
  font-size: 14px;
}

.titulo_separador {
    background-color: #f1f1f1;
    float: left;
    padding: 4px 20px;
    text-transform: uppercase;
    width: 100%;
    margin: 15px 0;
}


.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-left: 0px;
    display: block!IMPORTANT;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: 0px;
    display: block!IMPORTANT;
    border:0px solid black;
    margin-right: 7px;
}

/*.owl-stage-outer {
  height: 30vh;
}*/


hr {
    border: 1px solid #f6f6f6;
}


.list-block.criar {
    margin: -15px 0;
}


.login-logo {
  max-width: 60%;
  margin: 60px 0 30px;
}

.list-block ul:before {
  display: none;
}