<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar ">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">Perdi o Carro</div>
        
    </div>
</div>
<div class="pages">
    <div data-page="login" class="page">
                    
        <div class="page-content">
            <div class="content-block">
                <span class="preloader preloader-page" style="display: none;"></span>
                <div class="login-screen-title"><img class="login-logo" src="img/perdiocarrologo.png"></div>
                
                <!-- Login form -->
                <form action="login.html" method="POST" class="ajax-submit">
                  <div class="list-block">
                    <ul>
                      <li class="item-content">
                        <div class="item-inner">
                          <div class="item-input">
                            <input type="text" name="username" placeholder="Username">
                          </div>
                        </div>
                      </li>
                      <li class="item-content">
                        <div class="item-inner">
                          <div class="item-input">
                            <input type="password" name="password" placeholder="Password">
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="list-block">
                    <ul>
                      <li>
                        <a href="#" class="button button-fill color-blue">Entrar</a>
<!--                         <input type="submit" value="Entrar" class="button"> -->
                      </li>
                    </ul>
                    <br><a class="button" href="registar.html">Ainda não tem conta? Crie uma.</a>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>