<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar ">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">Perdi o Carro</div>
        
    </div>
</div>
<div class="pages">
    <div data-page="carro" class="page">
                   
        <div class="page-content">
            <div class="content-block">
                <span class="preloader preloader-page" style="display: none;"></span>

                <div class="row no-gutter" id="carro"></div>
            </div>

            
            <!-- About Popup -->
            <div class="popup popup-about">
              <div class="content-block">
                <p>About</p>
                <p><a href="#" class="close-popup">Fechar</a></p>
                <p>Tem informações sobre este automóvel? Entre em contato com o proprietário.</p>
                <div class="list-block">
                  <ul>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title floating-label">Nome</div>
                          <div class="item-input">
                              <input type="text" name="name" clcass="validate">
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title floating-label">Email</div>
                          <div class="item-input">
                              <input type="email" name="email" clcass="validate">
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title floating-label">Informações</div>
                          <div class="item-input">
                            <textarea class="" name="informacoes"></textarea>
                          </div> 
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="content-block">
                    <a href="#" class="button form-to-data">Enviar</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
