<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar ">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">Perdi o Carro</div>
        
    </div>
</div>
<div class="pages">
    <div data-page="criar-anuncio" class="page">
                    
        <div class="page-content">
            <div class="content-block">
                <span class="preloader preloader-page" style="display: none;"></span>
                <h3 style="padding-top: 18px;">Criar Anúncio</h3>
                <div class="list-block criar">
                  <ul>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title floating-label">Matrícula</div>
                          <div class="item-input">
                              <input type="text" name="name" clcass="validate">
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title floating-label">Descrição</div>
                          <div class="item-input">
                            <textarea class="" name="descricao"></textarea>
                          </div> 
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title floating-label">Marca</div>
                          <div class="item-input">
                              <select name="marca" id="marca" class="" required="" aria-hidden="true">
                                <option disabled="" selected="" value=""></option>
                                <option value="1">Alfa Romeo</option>
                                <option value="2">Aston Martin</option>
                                <option value="3">Audi</option>
                                <option value="4">Austin Morris</option>
                                <option value="6">Bentley</option>
                                <option value="7">BMW</option>
                                <option value="8">Chevrolet</option>
                                <option value="9">Chrysler</option>
                                <option value="10">Citroën</option>
                                <option value="11">Dacia</option>
                                <option value="12">Daewoo</option>
                                <option value="13">Daihatsu</option>
                                <option value="14">Dodge</option>
                                <option value="15">DS</option>
                                <option value="16">Ferrari</option>
                                <option value="17">Fiat</option>
                                <option value="18">Ford</option>
                                <option value="19">Honda</option>
                                <option value="20">Hummer</option>
                                <option value="21">Hyundai</option>
                                <option value="22">Isuzu</option>
                                <option value="23">Jaguar</option>
                                <option value="24">Jeep</option>
                                <option value="25">Kia</option>
                                <option value="26">Lamborghini</option>
                                <option value="27">Lancia</option>
                                <option value="28">Land Rover</option>
                                <option value="29">Lexus</option>
                                <option value="30">Lotus</option>
                                <option value="31">Maserati</option>
                                <option value="32">Mazda</option>
                                <option value="33">Mercedes-Benz</option>
                                <option value="34">MG</option>
                                <option value="35">MINI</option>
                                <option value="36">Mitsubishi</option>
                                <option value="37">Nissan</option>
                                <option value="38">Opel</option>
                                <option value="54">Outro não listado</option>
                                <option value="39">Peugeot</option>
                                <option value="40">Porsche</option>
                                <option value="41">Renault</option>
                                <option value="42">Rolls Royce</option>
                                <option value="43">Rover</option>
                                <option value="44">Saab</option>
                                <option value="45">Seat</option>
                                <option value="46">Skoda</option>
                                <option value="47">Smart</option>
                                <option value="48">Subaru</option>
                                <option value="49">Suzuki</option>
                                <option value="50">Toyota</option>
                                <option value="51">Vauxhall</option>
                                <option value="52">Volvo</option>
                                <option value="53">VW</option>
                        </select>
</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title floating-label">Modelo</div>
                          <div class="item-input">
                              <input type="email" name="email" clcass="validate">
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title floating-label">Concelho</div>
                          <div class="item-input">
                              <select required="" name="localizacao" id="concelho" aria-hidden="true">
                                <option selected="" disabled=""></option>
                                <option value="197">Abrantes</option>
                                <option value="1">Águeda</option>
                                <option value="118">Aguiar Da Beira</option>
                                <option value="88">Alandroal</option>
                                <option value="2">Albergaria-a-velha</option>
                                <option value="102">Albufeira</option>
                                <option value="218">Alcacer Do Sal</option>
                                <option value="198">Alcanena</option>
                                <option value="132">Alcobaça</option>
                                <option value="219">Alcochete</option>
                                <option value="103">Alcoutim</option>
                                <option value="148">Alenquer</option>
                                <option value="48">Alfandega Da Fé</option>
                                <option value="241">Alijo</option>
                                <option value="104">Aljezur</option>
                                <option value="20">Aljustrel</option>
                                <option value="220">Almada</option>
                                <option value="119">Almeida</option>
                                <option value="199">Almeirim</option>
                                <option value="21">Almodovar</option>
                                <option value="200">Alpiarça</option>
                                <option value="164">Alter Do Chão</option>
                                <option value="133">Alvaiazere</option>
                                <option value="22">Alvito</option>
                                <option value="162">Amadora</option>
                                <option value="179">Amarante</option>
                                <option value="34">Amares</option>
                                <option value="3">Anadia</option>
                                <option value="279">Angra Do Heroísmo</option>
                                <option value="134">Ansião</option>
                                <option value="231">Arcos De Valdevez</option>
                                <option value="71">Arganil</option>
                                <option value="255">Armamar</option>
                                <option value="4">Arouca</option>
                                <option value="89">Arraiolos</option>
                                <option value="165">Arronches</option>
                                <option value="149">Arruda Dos Vinhos</option>
                                <option value="5">Aveiro</option>
                                <option value="166">Avis</option>
                                <option value="150">Azambuja</option>
                                <option value="180">Baião</option>
                                <option value="35">Barcelos</option>
                                <option value="23">Barrancos</option>
                                <option value="221">Barreiro</option>
                                <option value="135">Batalha</option>
                                <option value="24">Beja</option>
                                <option value="60">Belmonte</option>
                                <option value="201">Benavente</option>
                                <option value="136">Bombarral</option>
                                <option value="90">Borba</option>
                                <option value="242">Boticas</option>
                                <option value="36">Braga</option>
                                <option value="49">Bragança</option>
                                <option value="37">Cabeceiras De Basto</option>
                                <option value="151">Cadaval</option>
                                <option value="137">Caldas Da Rainha</option>
                                <option value="280">Calheta (Açores)</option>
                                <option value="298">Calheta (Madeira)</option>
                                <option value="299">Camara De Lobos</option>
                                <option value="232">Caminha</option>
                                <option value="167">Campo Maior</option>
                                <option value="72">Cantanhede</option>
                                <option value="50">Carrazeda De Ansiães</option>
                                <option value="256">Carregal Do Sal</option>
                                <option value="202">Cartaxo</option>
                                <option value="152">Cascais</option>
                                <option value="138">Castanheira De Pera</option>
                                <option value="61">Castelo Branco</option>
                                <option value="6">Castelo De Paiva</option>
                                <option value="168">Castelo De Vide</option>
                                <option value="257">Castro Daire</option>
                                <option value="105">Castro Marim</option>
                                <option value="25">Castro Verde</option>
                                <option value="120">Celorico Da Beira</option>
                                <option value="38">Celorico De Basto</option>
                                <option value="203">Chamusca</option>
                                <option value="243">Chaves</option>
                                <option value="258">Cinfães</option>
                                <option value="73">Coimbra</option>
                                <option value="74">Condeixa-a-nova</option>
                                <option value="204">Constancia</option>
                                <option value="205">Coruche</option>
                                <option value="284">Corvo</option>
                                <option value="62">Covilhã</option>
                                <option value="169">Crato</option>
                                <option value="26">Cuba</option>
                                <option value="170">Elvas</option>
                                <option value="206">Entroncamento</option>
                                <option value="7">Espinho</option>
                                <option value="39">Esposende</option>
                                <option value="8">Estarreja</option>
                                <option value="91">Estremoz</option>
                                <option value="92">Évora</option>
                                <option value="40">Fafe</option>
                                <option value="106">Faro</option>
                                <option value="181">Felgueiras</option>
                                <option value="27">Ferreira Do Alentejo</option>
                                <option value="207">Ferreira Do Zêzere</option>
                                <option value="75">Figueira Da Foz</option>
                                <option value="121">Figueira De Castelo Rodrigo</option>
                                <option value="139">Figueiro Dos Vinhos</option>
                                <option value="122">Fornos De Algodres</option>
                                <option value="51">Freixo De Espada A Cinta</option>
                                <option value="171">Fronteira</option>
                                <option value="300">Funchal</option>
                                <option value="63">Fundão</option>
                                <option value="172">Gavião</option>
                                <option value="76">Gois</option>
                                <option value="208">Golegã</option>
                                <option value="182">Gondomar</option>
                                <option value="123">Gouveia</option>
                                <option value="222">Grandola</option>
                                <option value="124">Guarda</option>
                                <option value="41">Guimarães</option>
                                <option value="285">Horta</option>
                                <option value="64">Idanha-a-nova</option>
                                <option value="10">Ílhavo</option>
                                <option value="291">Lagoa (Açores)</option>
                                <option value="107">Lagoa (algarve)</option>
                                <option value="108">Lagos</option>
                                <option value="286">Lajes Das Flores</option>
                                <option value="287">Lajes Do Pico</option>
                                <option value="259">Lamego</option>
                                <option value="140">Leiria</option>
                                <option value="153">Lisboa</option>
                                <option value="109">Loule</option>
                                <option value="154">Loures</option>
                                <option value="155">Lourinhã</option>
                                <option value="77">Lousã</option>
                                <option value="183">Lousada</option>
                                <option value="209">Mação</option>
                                <option value="52">Macedo De Cavaleiros</option>
                                <option value="301">Machico</option>
                                <option value="288">Madalena</option>
                                <option value="156">Mafra</option>
                                <option value="184">Maia</option>
                                <option value="260">Mangualde</option>
                                <option value="125">Manteigas</option>
                                <option value="185">Marco De Canaveses</option>
                                <option value="141">Marinha Grande</option>
                                <option value="173">Marvão</option>
                                <option value="186">Matosinhos</option>
                                <option value="11">Mealhada</option>
                                <option value="126">Meda</option>
                                <option value="233">Melgaço</option>
                                <option value="28">Mertola</option>
                                <option value="244">Mesão Frio</option>
                                <option value="78">Mira</option>
                                <option value="79">Miranda Do Corvo</option>
                                <option value="53">Miranda Do Douro</option>
                                <option value="54">Mirandela</option>
                                <option value="55">Mogadouro</option>
                                <option value="261">Moimenta Da Beira</option>
                                <option value="223">Moita</option>
                                <option value="234">Monção</option>
                                <option value="110">Monchique</option>
                                <option value="245">Mondim De Basto</option>
                                <option value="174">Monforte</option>
                                <option value="246">Montalegre</option>
                                <option value="93">Montemor-o-novo</option>
                                <option value="80">Montemor-o-velho</option>
                                <option value="224">Montijo</option>
                                <option value="94">Mora</option>
                                <option value="262">Mortagua</option>
                                <option value="29">Moura</option>
                                <option value="95">Mourão</option>
                                <option value="247">Murça</option>
                                <option value="12">Murtosa</option>
                                <option value="142">Nazare</option>
                                <option value="263">Nelas</option>
                                <option value="175">Nisa</option>
                                <option value="292">Nordeste</option>
                                <option value="143">Obidos</option>
                                <option value="30">Odemira</option>
                                <option value="163">Odivelas</option>
                                <option value="157">Oeiras</option>
                                <option value="65">Oleiros</option>
                                <option value="111">Olhão</option>
                                <option value="13">Oliveira De Azeméis</option>
                                <option value="264">Oliveira De Frades</option>
                                <option value="14">Oliveira Do Bairro</option>
                                <option value="81">Oliveira Do Hospital</option>
                                <option value="217">Ourem</option>
                                <option value="31">Ourique</option>
                                <option value="15">Ovar</option>
                                <option value="187">Paços De Ferreira</option>
                                <option value="225">Palmela</option>
                                <option value="82">Pampilhosa Da Serra</option>
                                <option value="188">Paredes</option>
                                <option value="235">Paredes De Coura</option>
                                <option value="144">Pedrogão Grande</option>
                                <option value="83">Penacova</option>
                                <option value="189">Penafiel</option>
                                <option value="265">Penalva Do Castelo</option>
                                <option value="66">Penamacor</option>
                                <option value="266">Penedono</option>
                                <option value="84">Penela</option>
                                <option value="145">Peniche</option>
                                <option value="248">Peso Da Régua</option>
                                <option value="127">Pinhel</option>
                                <option value="146">Pombal</option>
                                <option value="293">Ponta Delgada</option>
                                <option value="302">Ponta Do Sol</option>
                                <option value="236">Ponte Da Barca</option>
                                <option value="237">Ponte De Lima</option>
                                <option value="176">Ponte De Sor</option>
                                <option value="177">Portalegre</option>
                                <option value="96">Portel</option>
                                <option value="112">Portimão</option>
                                <option value="190">Porto</option>
                                <option value="147">Porto De Mos</option>
                                <option value="303">Porto Moniz</option>
                                <option value="304">Porto Santo</option>
                                <option value="42">Póvoa De Lanhoso</option>
                                <option value="191">Póvoa De Varzim</option>
                                <option value="294">Povoação</option>
                                <option value="67">Proença-a-nova</option>
                                <option value="97">Redondo</option>
                                <option value="98">Reguengos De Monsaraz</option>
                                <option value="267">Resende</option>
                                <option value="305">Ribeira Brava</option>
                                <option value="249">Ribeira De Pena</option>
                                <option value="295">Ribeira Grande</option>
                                <option value="210">Rio Maior</option>
                                <option value="113">S. Brás De Alportel</option>
                                <option value="16">S. João Da Madeira</option>
                                <option value="269">S. João Da Pesqueira</option>
                                <option value="270">S. Pedro Do Sul</option>
                                <option value="290">S. Roque Do Pico</option>
                                <option value="308">S. Vicente</option>
                                <option value="250">Sabrosa</option>
                                <option value="128">Sabugal</option>
                                <option value="211">Salvaterra De Magos</option>
                                <option value="268">Santa Comba Dão</option>
                                <option value="306">Santa Cruz</option>
                                <option value="281">Santa Cruz Da Graciosa</option>
                                <option value="289">Santa Cruz Das Flores</option>
                                <option value="9">Santa Maria Da Feira</option>
                                <option value="251">Santa Marta De Penaguião</option>
                                <option value="307">Santana</option>
                                <option value="212">Santarém</option>
                                <option value="226">Santiago Do Cacém</option>
                                <option value="192">Santo Tirso</option>
                                <option value="213">Sardoal</option>
                                <option value="271">Satão</option>
                                <option value="129">Seia</option>
                                <option value="227">Seixal</option>
                                <option value="272">Sernancelhe</option>
                                <option value="32">Serpa</option>
                                <option value="68">Sertã</option>
                                <option value="228">Sesimbra</option>
                                <option value="229">Setúbal</option>
                                <option value="17">Sever Do Vouga</option>
                                <option value="114">Silves</option>
                                <option value="230">Sines</option>
                                <option value="158">Sintra</option>
                                <option value="159">Sobral De Monte Agraço</option>
                                <option value="85">Soure</option>
                                <option value="178">Sousel</option>
                                <option value="86">Tabua</option>
                                <option value="273">Tabuaço</option>
                                <option value="274">Tarouca</option>
                                <option value="115">Tavira</option>
                                <option value="43">Terras De Bouro</option>
                                <option value="214">Tomar</option>
                                <option value="275">Tondela</option>
                                <option value="56">Torre De Moncorvo</option>
                                <option value="215">Torres Novas</option>
                                <option value="160">Torres Vedras</option>
                                <option value="130">Trancoso</option>
                                <option value="196">Trofa</option>
                                <option value="18">Vagos</option>
                                <option value="19">Vale De Cambra</option>
                                <option value="238">Valença</option>
                                <option value="193">Valongo</option>
                                <option value="252">Valpaços</option>
                                <option value="282">Velas</option>
                                <option value="99">Vendas Novas</option>
                                <option value="100">Viana Do Alentejo</option>
                                <option value="239">Viana Do Castelo</option>
                                <option value="33">Vidigueira</option>
                                <option value="44">Vieira Do Minho</option>
                                <option value="69">Vila De Rei</option>
                                <option value="116">Vila Do Bispo</option>
                                <option value="194">Vila Do Conde</option>
                                <option value="297">Vila Do Porto</option>
                                <option value="57">Vila Flor</option>
                                <option value="161">Vila Franca De Xira</option>
                                <option value="296">Vila Franca Do Campo</option>
                                <option value="216">Vila Nova Da Barquinha</option>
                                <option value="240">Vila Nova De Cerveira</option>
                                <option value="45">Vila Nova De Famalicão</option>
                                <option value="131">Vila Nova De Foz Coa</option>
                                <option value="195">Vila Nova De Gaia</option>
                                <option value="276">Vila Nova De Paiva</option>
                                <option value="87">Vila Nova De Poiares</option>
                                <option value="253">Vila Pouca De Aguiar</option>
                                <option value="283">Vila Praia Da Vitoria</option>
                                <option value="254">Vila Real</option>
                                <option value="117">Vila Real De Santo António</option>
                                <option value="70">Vila Velha De Rodão</option>
                                <option value="46">Vila Verde</option>
                                <option value="101">Vila Viçosa</option>
                                <option value="58">Vimioso</option>
                                <option value="59">Vinhais</option>
                                <option value="277">Viseu</option>
                                <option value="47">Vizela</option>
                                <option value="278">Vouzela</option>
                    </select>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <a href="#" class="button button-fill fotos">Adicionar Fotos</a>
                      </div>
                      <div class="item-content">
                        <img src="" id="myImage" style="width: 100%;">
                      </div>
                    </li>
                    
                  </ul>
                  <div class="content-block">
                    <a href="#" class="button form-to-data">Enviar</a>
                  </div>
                </div>
            </div>

            
        </div>
    </div>
</div>
